:root {
    --second-family: Oswald, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.page {
    display: flex;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

.content {
    display: flex;
    align-items: end;
    margin: 0 30px;
    gap: 30px;
    width: 1140px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2px;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;

    margin-bottom: 16px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-form__fieldset {
    border: none;
}

.search-form__fieldset-title {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
    font-family: inherit;
}

.search-form__label {
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.search-form__label:has(:focus-visible) {
    outline-offset: 2px;
    outline: 1px solid #fff;
}

.search-form__textfield {
    background-color: transparent;
    border-block: 1px solid #fff;
    border-inline: 1px solid transparent;
    padding-block: 2px;
    appearance: none;
    width: 225px;
    box-shadow: none;
    color: rgb(255, 255, 255, 0.7);
    font-family: inherit;
    font-size: 18px;
    line-height: 1;
    position: relative;
}
.search-form__textfield::placeholder {
    font-family: inherit;
    font-size: 18px;
    color: rgb(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield:active {
    border-color: #fff;
}

.search-form__checkbox-list {
    display: flex;
    gap: 16px;
}

.search-form__pseudo-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
}

.search-form__pseudo-checkbox:active {
    border-color: #1b1919;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.button {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    height: 34px;
    font-size: 18px;
    font-weight: 700;
    font-family: Fira Sans Condensed, sans-serif;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
    text-decoration: none;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
.button:focus-visible::after {
    display: block;
}

.search-form__submit-button {
    max-width: 194px;
    align-self: flex-end;
}

.content__details {
    width: 399px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
}

.title {
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.94;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: auto;
    padding: 2px;
}

.content__card-link {
    text-decoration: none;
    color: #fff;
}

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__video-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content__video-card-description-container {
    width: 100%;
    flex-shrink: 1;
    overflow: hidden;
    padding: 2px;
}

.content__video-card-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 6px;
}

.content__video-card-description {
    line-height: 0.9;
}

.content__video-card-thumbnail {
    flex-basis: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

.content__card-link {
    display: block;
    outline: none;
}

.more-button {
    width: 100%;
}

.content__card-link_current {
    background-color: #545050;
}

.content__card-link:hover {
    text-decoration: underline;
}

.content__card-link:active {
    background-color: #545050;
    text-decoration: none;
}

.content__card-link:hover {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
